<div class="layui-card">
    <div class="layui-card-header">
        <span class="layui-icon font-s10 color-desc margin-right-5">&#xe673;</span>修改密码
    </div>
    <div class="layui-card-body">
        <div class="layui-row">
            <div class="layui-col-md8">
                <form class="layui-form" lay-filter="passwordForm">
                    <div class="layui-form-item">
                        <label class="layui-form-label">当前密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="old_password" required lay-verify="required" placeholder="请输入当前密码" class="layui-input">
                        </div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label class="layui-form-label">新密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="password" required lay-verify="required|password" placeholder="请输入新密码" class="layui-input">
                            <div class="layui-form-mid layui-word-aux">密码长度不少于6位</div>
                        </div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="repassword" required lay-verify="required|repassword" placeholder="请再次输入新密码" class="layui-input">
                        </div>
                    </div>
                    
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="updatePassword">修改密码</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">安全提示</div>
                    <div class="layui-card-body">
                        <div class="layui-text">
                            <p><i class="layui-icon layui-icon-tips" style="color: #FF5722;"></i> 密码长度不少于6位</p>
                            <p><i class="layui-icon layui-icon-tips" style="color: #FF5722;"></i> 建议使用字母、数字、符号组合</p>
                            <p><i class="layui-icon layui-icon-tips" style="color: #FF5722;"></i> 定期更换密码保障账户安全</p>
                            <p><i class="layui-icon layui-icon-tips" style="color: #FF5722;"></i> 不要使用过于简单的密码</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
layui.use(['form', 'layer'], function(){
    var form = layui.form
        ,layer = layui.layer;
    
    // 自定义验证规则
    form.verify({
        password: function(value, item){
            if(value.length < 6){
                return '密码长度不能少于6位';
            }
        },
        repassword: function(value, item){
            var passwordValue = $(item).parents('form').find('input[name="password"]').val();
            if(value !== passwordValue){
                return '两次密码输入不一致';
            }
        }
    });
    
    // 监听提交
    form.on('submit(updatePassword)', function(data){
        var loadIndex = layer.load(2, {shade: 0.3});
        
        $.post('{:url("updatePassword")}', data.field, function(res){
            layer.close(loadIndex);
            if(res.code === 1){
                layer.msg('密码修改成功', {icon: 1}, function(){
                    // 清空表单
                    $('form')[0].reset();
                    form.render();
                });
            } else {
                layer.msg(res.info || '密码修改失败', {icon: 2});
            }
        }, 'json').fail(function(){
            layer.close(loadIndex);
            layer.msg('网络错误，请重试', {icon: 2});
        });
        
        return false;
    });
});
</script>